@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$primary: #1277b0;
$text-dark: #3d3021;

.chartContainer {
  width: 100%;
  height: 280px;
  position: relative;
  
  @media (max-width: 768px) {
    height: 220px;
  }
  
  @media (max-width: 480px) {
    height: 180px;
  }
}

.doughnutContainer {
  width: 100%;
  height: 220px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (max-width: 768px) {
    height: 180px;
  }
}

.doughnutCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.percentage {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  color: $text-dark;
  line-height: 1;
  
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.label {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.875rem;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  
  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}
