$card-bg-color: #E8DCC0;

$shadow-color-1: rgba(0, 0, 0, 0.25);
$shadow-color-2: rgba(0, 0, 0, 0.15);
$shadow-color-3: rgba(0, 0, 0, 0.1);

$card-shadow: 
  0 2px 4px $shadow-color-1,
  0 4px 8px $shadow-color-2,
  0 8px 16px $shadow-color-3;

$card-radius: 1px;
.fish-master-card {
  position: relative;
  padding: 20px;
  background-color: #f5efd3;
  border-radius: 12px;

  .card-number {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
}

.fish-master-card {
  background-color: $card-bg-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: fit-content;
  min-height: unset;
  
  width: 814px;
  
  padding: 40px;
  box-sizing: border-box;
  margin: 2rem auto;
  
  transition: all 0.8s ease;
  
  &:hover {
    box-shadow: 
      0 4px 8px $shadow-color-1,
      0 8px 16px $shadow-color-2,
      0 16px 24px $shadow-color-3;
    transform: translateY(-2px);
  }
}