spring:
  flyway:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/your_database
    username: your_db_username
    password: your_db_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email_here
    password: your_email_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  application:
    name: backend

security:
  jwt:
    secret-key: your_jwt_secret_key_here
    expiration-time: 3600000
